<div class="center">
<h1>Create an article down below</h1>
</div>
<div class="center">
	
	<%= render 'form' %>
	<br>
	<%= link_to 'Back', articles_path, id: "submit", 'data-disable-with' => "Please wait.." %>
</div>