<ul id="menu">
	<li><%= render 'homepage/banner' %></li>
	<li><a href="/pathfinder">Back to Pathfinder menu</a></li>
</ul>:

<div id="fade">
	<center>
		<h1>
			<%= "Coming soon to an Internet near you!"%>
		</h1>
	</center>
</div>
